

<div class="concentrar1">
    <div class="img1">
        <img class="mover1" src="assets/membership.png">
    </div>
    <div class="concentrar2">
        <h1>¡Hagase miembro!</h1>
        <h5>Contamos con un sistema de socios el cual es capaz de ofrecerle beneficios, como por ejemplo:</h5>
    </div>
</div>

<div class="super">
    <div class="container2">

        <div class="row row-cols-1 row-cols-md-2 g-2 ">

            <p-card class="card1" header="Novedades" [style]="{'width': '19rem', 'margin-bottom': '2em', 'box-shadow': 'none'}">
                <ng-template pTemplate="header" [style]="{'border-style': 'solid 3px'}">
                    <img alt="Card" class="cardet"  src="/assets/email.png" >
                </ng-template>
                <p>Noticias acerca de nuevos productos y demas.</p>
            </p-card>

            <p-card class="card1" header="Descuentos" [style]="{'width': '19rem', 'margin-bottom': '2em', 'box-shadow': 'none'}">
                <ng-template pTemplate="header">
                    <img alt="Card" class="cardet" src="/assets/cupon.png">
                </ng-template>
                <p>Descuentos exclusivos en instrumentos y piezas originales para mantenimiento.</p>
            </p-card>


        </div>
    
</div>
</div>


<div class="concentrar3">
    <h1>¡Estas y mas ventajas solo para usted!</h1>
    <p-button label="Hacerse socio" icon="fas fa-user-check" styleClass="p-button-lg"></p-button>
</div>