

<div class="concentrar1">

    <h1>Pongase en contacto con nosotros</h1>
    
    <h4>Hagalo mediante el numero: <a>44212412</a></h4>

</div>

<div class="concentrar2">
    <h1>O escribanos una queja</h1>
    <div class="concentrar3">
        <p>Correo: <input type="text" pInputText /></p>

        
        <span class="p-float-label">
        <textarea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
        <label for="float-input">Queja</label>
        </span>

        <div class="boton1">
        <p-button label="Mandar" icon="pi pi-check" iconPos="right"></p-button>
        </div>
    </div>
</div>